<!DOCTYPE html>
<html lang="en">
<head>
    <title>MISAKI HOTEL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Content/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="~/Content/css/aos.css">

    <link rel="stylesheet" href="~/Content/css/style.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <body>
        <div class="site-wrap">
            <!-- Navigation -->
            <div class="site-navbar-wrap js-site-navbar bg-white">
                @Html.Action("Header", "PublicModules")
            </div>

            @RenderBody()

            <!-- Footer -->
            <footer class="site-footer">
                @Html.Action("Footer", "PublicModules")
            </footer>
        </div>

        <script src="~/Content/js/jquery-3.3.1.min.js"></script>
        <script src="~/Content/js/jquery-migrate-3.0.1.min.js"></script>
        <script src="~/Content/js/jquery-ui.js"></script>
        <script src="~/Content/js/popper.min.js"></script>
        <script src="~/Content/js/bootstrap.min.js"></script>
        <script src="~/Content/js/owl.carousel.min.js"></script>
        <script src="~/Content/js/jquery.stellar.min.js"></script>
        <script src="~/Content/js/jquery.countdown.min.js"></script>
        <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
        <script src="~/Content/js/bootstrap-datepicker.min.js"></script>
        <script src="~/Content/js/aos.js"></script>


        <script src="~/Content/js/mediaelement-and-player.min.js"></script>

        <script src="~/Content/js/main.js"></script>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var mediaElements = document.querySelectorAll('video, audio'), total = mediaElements.length;

                for (var i = 0; i < total; i++) {
                    new MediaElementPlayer(mediaElements[i], {
                        pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                        shimScriptAccess: 'always',
                        success: function () {
                            var target = document.body.querySelectorAll('.player'), targetTotal = target.length;
                            for (var j = 0; j < targetTotal; j++) {
                                target[j].style.visibility = 'visible';
                            }
                        }
                    });
                }
            });
        </script>
    </body>
</html>