
@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<!-- Slide -->
<div class="site-blocks-cover overlay" style="background-image: url('../../content/images/hero_1.jpg');" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade">
                <span class="caption mb-3">Misaki Hotel &amp; Resort</span>
                <h1 class="mb-4">Sự Kiện</h1>
            </div>
        </div>
    </div>
</div>

<!-- Event -->
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="media-with-text">
                    <div class="img-border-sm mb-4">
                        <a href="#" class="popup-vimeo image-play">
                            <img src="~/Content/images/img_2.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <h2 class="heading mb-0"><a href="#">Lễ Hội Tháng 6</a></h2>
                    <span class="mb-3 d-block post-date">Mar 20th, 2024 &bullet; By <a href="#">Admin</a></span>
                    <p>
                        <strong> 14/06/2024 – 30/06/2024 </strong>
                        </br>
                        Chào đón tháng sáu với Lễ Hội Xoài Xứ Cam Ranh tại Chợ Nông Sản và hãy sẵn sàng để thưởng thức một cuộc phiêu lưu ẩm thực chưa
                        từng có – Lễ hội ẩm thực ốc biển. Tại đây, thực khách sẽ được thỏa mãn vị giác với đa dạng các món ăn hải sản được chế biến từ
                        những món ốc đặc sản tươi ngon khó cưỡng của Nha Trang. Cho dù bạn là tín đồ yêu thích hải sản hay chỉ đơn giản đang tìm kiếm một
                        cuộc phiêu lưu ẩm thực mới, hãy tham gia cùng chúng tôi và tận hưởng một tuần lễ ẩm thực sôi động đậm chất địa phương với người thân.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="media-with-text">
                    <div class="img-border-sm mb-4">
                        <a href="#" class="popup-vimeo image-play">
                            <img src="~/Content/images/img_3.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <h2 class="heading mb-0"><a href="#">Lễ Hội Tháng 7</a></h2>
                    <span class="mb-3 d-block post-date">Mar 20th, 2024 &bullet; By <a href="#">Admin</a></span>
                    <p>
                        <strong> 05/07/2024 – 28/07/2024 </strong>
                        </br>
                        Đắm mình vào hành trình tìm hiểu nguồn gốc và quá trình sản xuất sô cô la, cũng như tìm hiểu thêm về nguồn gốc và di sản sô cô la
                        phong phú của Mövenpick. Với mong muốn làm cho trải nghiệm của bạn thêm phần “ngọt ngào”, đây ắt hẳn là tuần lễ không thể bỏ qua cho
                        những tín đồ đam mê sô cô la tại Club House. Ngoài ra, sẵn sàng bùng nổ với những thú vui với Hội Hè, từ ném phi tiêu, ném vòng, thả
                        bóng vào ly, tạt lon và ném bóng vào xô… cùng với những phần thưởng hấp dẫn!
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="media-with-text">
                    <div class="img-border-sm mb-4">
                        <a href="#" class="popup-vimeo image-play">
                            <img src="~/Content/images/img_4.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <h2 class="heading mb-0"><a href="#">Lễ Hội Tháng 8</a></h2>
                    <span class="mb-3 d-block post-date">Mar 20th, 2024 &bullet; By <a href="#">Admin</a></span>
                    <p>
                        <strong> 01/08/2024 – 03/09/2024 </strong>
                        </br>
                        Bước vào tháng tám với những niềm vui ngọt ngào và quyến rũ của Thuỵ Sĩ – cội nguồn của thương hiệu Mövenpick. Cùng nâng ly tại
                        Lễ Hội Rượu Vang tại Làng Thuỵ Sĩ với đa dạng các lựa chọn các loại rượu vang hảo hạng ăn kèm với phô mai thơm ngậy. Ngoài ra,
                        tham gia Lễ Hội Quốc Khánh Thụy Sĩ để trải nghiệm các trò chơi truyền thống của Thuỵ Sĩ và buổi biểu diễn piano trực tiếp.
                    </p>
                </div>
            </div>
        </div>

        <div style="line-height: 1.5;">
            <h2 class="mb-5" style="text-align: center">Kỳ Nghì Hè Của Bạn Tại Việt Nam</h2>
            <p >
                Thưởng thức cảnh quan đẹp đẽ và trải nghiệm các sự kiện hè tại Việt Nam cho một cuộc phiêu lưu để đời. Cùng tạo
                nên những kỷ niệm đặc biệt cùng các sự kiện thú vị tại Misaki Hotel từ tháng 5 đến tháng 9 này.
            </p>
            <p >
                Trong mùa hè này tại Việt Nam, Misaki Hotel mời bạn cùng gia đình bắt đầu chuyến du lịch sôi động với
                một loạt trải nghiệm không thể quên. Hãy nhảy vào một thế giới của niềm vui và hứng khởi với danh sách hoạt động
                thú vị dành cho gia đình của chúng tôi!
            </p>

            <p >
                Hơn thế, hòa mình vào sự kiện hè tại Việt Nam với các bữa tiệc BBQ nóng hổi ngay tại sân biệt thự của bạn. Thưởng
                thức các món hải sản ngon tuyệt tại Tropicana Beach Club, với Misaki, mỗi khoảnh khắc đều tràn ngập tiếng cười
                và những món ngon lạ miệng. Đắm chìm trong âm nhạc của ban nhạc sống và thưởng thức các đĩa hải sản ngon miệng khi
                mặt trời lặn. ‘Hòa mình vào niềm vui với các bữa tiệc hồ bơi và các sự kiện bọt tạo bọt, hoặc hát hết mình trong các
                đêm karaoke của chúng tôi.
            </p>

            <p >
                Suốt mùa hè tại Việt Nam, khu nghỉ dưỡng của chúng tôi biến thành một ốc đảo kỳ nghỉ sôi động và hạnh phúc, với nhiều
                lễ hội vào mỗi tháng để phục vụ mọi sở thích. Cho dù bạn đang khao khát những món hải sản tươi ngon tại Lễ hội Đại dương
                của chúng tôi, tìm kiếm những trải nghiệm hồi hộp tại Lễ hội Xoài vui vẻ hay thưởng thức đồ ngọt tại Lễ hội Sô cô la. Nâng
                chén tại Lễ hội Rượu vang, hoặc thưởng thức mì ngon tại Lễ hội Mì, ở đây có thất cả mọi thứ mà mọi người cần tìm. Một mùa
                hè cùng các sự kiện hè ngập tràn niềm vui đang chờ đón bạn.
            </p>
            <p >
                Với cảnh biển tuyệt đẹp làm nền, bắt đầu một kỳ nghỉ hè không thể quên tại Việt Nam. Hãy chuẩn bị hành lý và sẵn sàng cho
                một chuyến đi gia đình đầy tiếng cười, phiêu lưu và những kỷ niệm đáng trân trọng. Hãy tham gia sự kiện hè cùng chúng tôi
                để có một mùa hè đáng nhớ tại Misaki Hotel!
            </p>
        </div>
    </div>
</div>
