
@{
    ViewBag.Title = "Introduce";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

< <!-- Slide -->
            <div class="site-blocks-cover overlay" style="background-image: url('../../Content/images/hero_1.jpg');" data-aos="fade" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 text-center" data-aos="fade">
                        <span class="caption mb-3">Misaki Hotel &amp; Resort</span>
                        <h1 class="mb-4">Thông Tin</h1>
                        </div>
                    </div>
                </div>
            </div>  

            <!-- Info -->
            <div class="site-section">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 mb-5 mb-md-0">
                            <div class="img-border">
                                <img src="~/Content/images/img_2.jpg" alt="" class="img-fluid">
                            </div>
                            <img src="~/Content/images/img_1.jpg" alt="Image" class="img-fluid image-absolute">
                        </div>
                        <div class="col-md-5 ml-auto">
                            <div class="section-heading text-left">
                                <h2 class="mb-5">Giới Thiệu</h2>
                            </div>
                            <p class="mb-4">
                                Khách Sạn Misaki là biểu tượng của sự hoàn hảo và sang trọng tại thành phố, nơi hòa quyện giữa vẻ đẹp hiện đại và sự lãng mạn của nét kiến trúc truyền thống. Với vị trí tuyệt vời bên bờ biển, Misaki là điểm đến lý tưởng cho những ai khao khát tìm kiếm sự thư giãn và trải nghiệm tinh thần. <br>
                                Khách Sạn Misaki không chỉ là nơi nghỉ ngơi lý tưởng mà còn là điểm đến của sự đổi mới và tiện nghi. Từ những phòng nghỉ rộng rãi và thoải mái đến các tiện ích cao cấp như spa, nhà hàng, hồ bơi và phòng gym, Misaki mang đến trải nghiệm tuyệt vời nhất cho du khách mỗi khi đặt chân đến. <br>
                                Điều đặc biệt của Misaki không chỉ là các tiện nghi tiện lợi mà còn là đội ngũ nhân viên chuyên nghiệp, nhiệt tình và chu đáo, luôn sẵn sàng đáp ứng mọi yêu cầu của khách hàng, từ nhỏ nhất đến lớn nhất.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="site-section">
                <div class="container">
                    <div style="line-height: 1.5; ">
                        <h2 class="mb-5">Misaki Hotel – Lựa chọn hàng đầu khi đặt phòng khách sạn trực tuyến</h2>
                        <p class="mb-4">Là đại lý đặt phòng khách sạn hàng đầu Đông Nam Á, kể từ khi ra mắt đến nay, Misaki Hotel đã giúp mọi chuyến du lịch của hơn 20 triệu tín đồ du lịch trở nên đơn giản hơn bao giờ hết. 
                            Không chỉ hoạt động tại Đông Nam Á, Misaki Hotel hiện là đối tác của trên 200.000 khách sạn toàn thế giới, sẵn sàng đồng hành cùng bạn mọi lúc mọi nơi.</br>
                            Với mạng lưới khách sạn rộng khắp, Hotelmang đến vô vàn lựa chọn, đa dạng mọi phân khúc, từ khách sạn cao cấp, resort nghỉ dưỡng hàng đầu, đến các hostel, homestay hiện đại mà cá tính. Dù bạn 
                            phải đặt phòng gấp cho chuyến công tác, hay tìm kiếm một thiên đường trong mơ cho chuyến trăng mật lãng mạn, Hotelcũng sẽ khiến bạn hài lòng với những khách sạn tốt nhất và mức giá ưu đãi nhất.</br> 
                            Tất cả những gì bạn cần làm là ba bước: tìm kiếm, đặt phòng khách sạn và thanh toán. Mọi thứ còn lại đã có Hotello liệu.
                        </p>
                        
                        <h2 class="mb-5">Tích hợp các tính năng ưu việt, đặt phòng khách sạn trên Misaki Hotel đơn giản hơn bao giờ hết</h2>
                        <p class="mb-4">Bắt đầu với việc nhập thông tin điểm đến tại mục “Tìm khách sạn”, hàng trăm kết quả sẽ được hiển thị trong tích tắc theo nhu cầu của bạn. Ứng dụng Misaki Hotel sẽ phân loại kết quả theo hai phân khúc – Tiết kiệm và Cao cấp, 
                            giúp rút ngắn thời gian tìm kiếm. Đặc biệt, khi lựa chọn ngày nhận phòng, Misaki Hotel sẽ thông báo đâu là những ngày có mức giá thấp nhất. Không cần so sánh ngược xuôi, đặt phòng khách sạn giá rẻ giờ đây chỉ cần vài bước tùy chỉnh.</br>
                            Mọi thông tin chi tiết nhất về khách sạn luôn được cập nhật thường xuyên. Các tiện nghi, khu vực lân cận, và phần nhận xét từ các khách hàng trước sẽ giúp bạn có một đánh giá tổng quan về khách sạn đang cân nhắc. Mức giá hiển thị cũng 
                            là mức giá cuối cùng bạn phải thanh toán, đã bao gồm thuế, không phí giao dịch hoặc chi phí ẩn. Bạn chỉ cần một giao diện duy nhất để so sánh nhiều sự lựa chọn và dễ dàng đặt phòng khách sạn giá rẻ với đầy đủ tiện nghi nhất.</br>
                            Các du khách thường xuyên có những chuyến du lịch ngẫu hứng, hoặc lịch trình thay đổi bất ngờ khiến bạn không chuẩn bị trước một nơi nghỉ ngơi thoải mái thì cũng đừng lo lắng. Tính năng “Khách sạn giờ chót” sẽ là vị cứu tinh cho bạn. 
                            Misaki Hotel sẽ lọc ra những khách sạn còn phòng trống trong ngày với giá tốt nhất, đôi khi có ưu đãi lên đến 50%, khó tìm được ở bất kì nơi nào khác. </br>
                            Sau khi hoàn tất đặt phòng và thanh toán, mọi thông tin sẽ được gửi về email và lưu trong mục “Đặt chỗ của tôi”, giúp bạn quản lý dễ dàng các giao dịch của mình theo thứ tự thời gian. Ngoài ra, chi tiết mã đặt phòng khách sạn còn có 
                            mục phiên dịch địa chỉ theo tiếng địa phương, bản đồ chỉ đường, và số điện thoại liên hệ, dành cho những trường hợp du lịch đến các quốc gia không nói tiếng Anh.
                        </p>
                        
                        <h2 class="mb-5">Trải nghiệm người dùng thân thiện tại Misaki Hotel</h2>
                        <p class="mb-4">Với những tính năng ưu việt như thế, Misaki Hotel mong muốn không chỉ đồng hành cùng bạn trên mọi hành trình, mà còn mang đến cho bạn những trải nghiệm người dùng thân thiện, cùng giờ phút nghỉ ngơi thoải mái nhất.</br>
                            Giao diện của website lẫn ứng dụng Misaki Hotel đều chú trọng vào sự tối giản, vừa tiết kiệm thời gian thao tác, vừa đơn giản nhất ngay cả với những người không sành công nghệ. Bạn có thể quản lý mọi thông tin đặt phòng của mình chỉ với một ứng dụng mà không cần bất kỳ giấy tờ rắc rối.</br>
                            Thanh toán tại Misaki Hotel cũng vô cùng đơn giản với 5 hình thức đa dạng: thẻ thanh toán quốc tế, ATM nội địa, chuyển khoản, thanh toán tại bưu điện và hệ thống cửa hàng có liên kết với Paypal. Riêng với thanh toán trực tuyến, tính năng MisakiPay cho phép lưu thông tin cho những lần thanh 
                            toán sau. Để tránh các rủi ro khi giao dịch trực tuyến, thông tin thẻ của khách hàng được mã hoá và quản lý bởi một trong những nhà cung cấp dịch vụ quản lý giao dịch thanh toán trực tuyến lớn nhất thế giới thuộc tổ chức thẻ VISA - CyberSource.</br>
                            Với Misaki Hotel, bạn không chỉ đặt phòng khách sạn với mức giá tốt nhất, mà còn có cơ hội “bắt” được những ưu đãi hấp dẫn nhất. Các chương trình khuyến mãi liên tục được cập nhật tại mục “Ưu đãi hiện hành” và “Ưu đãi khách sạn”. Việc đặt phòng khách sạn giá rẻ giờ đây không còn là một 
                            nhiệm vụ khó khăn hay tốn nhiều thời gian nữa. Ngoài ra, để trải nghiệm du lịch của bạn thêm thú vị, bạn còn có thể đặt vé tham quan du lịch và tour giá rẻ, nhiều khuyến mãi với Misaki Hotel.</br>
                            Dịch vụ hỗ trợ khách hàng của Misaki Hotel cũng luôn sẵn sàng 24/7 để giám sát mọi giao dịch, và giải đáp thắc mắc của khách hàng. Liên hệ trực tiếp với Misaki Hotel tại hai cổng thông tin để sau: hotline +84 1800 577 745 hoặc gửi email về địa chỉ info@misakihotel.com.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Convention -->
            <div class="site-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                            <h2 class="mb-5">Các Tiện Nghi Của Khách sạn</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="text-center p-4 item">
                                <span class="flaticon-pool display-3 mb-3 d-block text-primary"></span>
                                <h2 class="h5">Hồ bơi</h2>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="text-center p-4 item">
                                <span class="flaticon-desk display-3 mb-3 d-block text-primary"></span>
                                <h2 class="h5">Lễ tân 24/7</h2>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="text-center p-4 item">
                                <span class="flaticon-exit display-3 mb-3 d-block text-primary"></span>
                                <h2 class="h5">Thoát hiểm an toàn</h2>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="text-center p-4 item">
                                <span class="flaticon-parking display-3 mb-3 d-block text-primary"></span>
                                <h2 class="h5">Bãi đổ xe</h2>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="text-center p-4 item">
                                <span class="flaticon-hair-dryer display-3 mb-3 d-block text-primary"></span>
                                <h2 class="h5">Tạo mẫu tóc</h2>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="text-center p-4 item">
                                <span class="flaticon-minibar display-3 mb-3 d-block text-primary"></span>
                                <h2 class="h5">Quầy bar</h2>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="text-center p-4 item">
                                <span class="flaticon-drink display-3 mb-3 d-block text-primary"></span>
                                <h2 class="h5">Thức uống</h2>
                            </div>
                        </div>                      
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="text-center p-4 item">
                                <span class="flaticon-cab display-3 mb-3 d-block text-primary"></span>
                                <h2 class="h5">Xe đưa đón sân bay</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Photo Libary -->
            <div class="site-section ">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                        <h2 class="mb-5">Thư Viện Ảnh</h2>
                    </div>
                </div>

                <div class="row no-gutters">

                    <div class="col-md-6 col-lg-3">
                        <a href="~/Content/images/img_1.jpg" class="image-popup img-opacity"><img src="~/Content/images/img_1.jpg" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <a href="~/Content/images/img_2.jpg" class="image-popup img-opacity"><img src="~/Content/images/img_2.jpg" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <a href="~/Content/images/img_3.jpg" class="image-popup img-opacity"><img src="~/Content/images/img_3.jpg" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <a href="~/Content/images/img_4.jpg" class="image-popup img-opacity"><img src="~/Content/images/img_4.jpg" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <a href="~/Content/images/img_4.jpg" class="image-popup img-opacity"><img src="~/Content/images/img_4.jpg" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <a href="~/Content/images/img_5.jpg" class="image-popup img-opacity"><img src="~/Content/images/img_5.jpg" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <a href="~/Content/images/img_6.jpg" class="image-popup img-opacity"><img src="~/Content/images/img_6.jpg" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <a href="~/Content/images/img_7.jpg" class="image-popup img-opacity"><img src="~/Content/images/img_7.jpg" alt="Image" class="img-fluid"></a>
                    </div>

                    </div>
                </div>
            </div>